<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Horizontal Navbar</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../resources/css/style.css">

     <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">

</style>
</head>
<body>

  <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark" >
    <div class="container">
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item me-3">
          <a class="nav-link active" aria-current="page" href="home1.html">Home</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="hobbies.html">Hobbies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="projects.html">Projects</a>
        </li>
      </ul>
      <a href="#" class="text-white ms-auto">
        <i class="fa fa-heart"></i>
      </a>
    </div>
  </nav>
<div class="row row-cols-1 row-cols-md-2 g-2">
  <div class="col">
    <div class="card">
      <img src="../resources/img.html/resume.jpeg" class="card-img-top" alt="My Resume">
      <div class="card-body">
         <ul class="list-group list-group-flush">
    <h5 class="card-title">Contact</h5>
    <li class="list-group-item">Phone: +13476529156</li>
    <li class="list-group-item">Email: sanket.rai@colorado.edu</li>
    <h5 class="card-title">Education</h5>
    <li class="list-group-item">Asociate of Computer Science</li>
    <h5 class="card-title">Skills</h5>
    <li class="list-group-item">python</li>
    <li class="list-group-item">java</li>
    <h5 class="card-title">Language</h5>
    <li class="list-group-item">English</li>
    <li class="list-group-item">Nepali</li>
    <li class="list-group-item">Hindi</li>

  </ul>
      </div>
    </div>
  </div>

  <div class="card">
     <div class="card-header bg-transparent border-success">Sanket Rai</div>
        <div class="card-body">
      <h5 class="card-title">About Me</h5>
      <p class="card-text">I am a current student at CU Boulder. I am studying Computer Science. I have done some work study program at other college.</p>
<div class="card">
    <div class="card body">
        <h5 class="card-title">Experiences</h5>
        <p class="card-text">Customer Support</p>
        <p class="card-text">administrative support</p>
        <p class="card-text">Courier</p>
  </div>
</div>
    </div>
  </div>
</div>

<a href="resume.pdf" target="_blank" download="resume.pdf">
  <button>Download PDF</button>
</a>

 <div class="card-footer bg-transparent border-success">
    <div class="mt-auto text-center">
        <a href="https://www.facebook.com">  
            <i class="fa fa-facebook"></i>
        </a> 
        <a href="https://www.instagram.com"> 
            <i class="fa fa-instagram"></i>
        </a> 
      </div>

</body>
</html>